/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.7rem;
    padding: 8px 13px;
    padding-bottom: 10px;
}
/* Home Section */
#home{
    height: 409px;
    padding: 3px 99px
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* Service section */
#services{
    flex-direction: column;

}

#services .box{
    padding: 11px;
    margin: 1px 0px;
    margin-bottom: 20px;
}
/* Client Section */
#clients{
    flex-wrap: wrap;
}
.client-item {
    padding: 15px 37px;
}

#clients img{
    width: 89px;
    padding: 25px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width: 80%;
}
/* Footer */

/* Utility */
.h-primary{
    font-size: 27px;
    text-align: center;
    /* width: 247px; */
    /* margin: auto; */
}

.btn{
    font-size: 13px;
    padding: 4px 16px;
    margin: 41px 0;
    transition: 0.4s all;
    text-decoration: none;
    overflow: hidden;
}
.btn:hover{
    background-color: #2fffc1;
    color: black;

}
.btn:focus{
    outline: none;
}


