/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 2;
}
/* Navigation Bar: Logo and image */
#logo{
    margin: -7px 29px;
    
}

#logo img{
    margin: 10px 4px;
    height: 52px;
}
/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Quicksand', sans-serif;
}
#navbar ul li{
    list-style: none;  /*By doing this dotted point will remove*/
    font-size: 1rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 474px;  /*745px*/
    justify-content: center;
    align-items: center;

}

#home::before{
    content: "";
    background: url('../img/food-bgimage4.jpg') no-repeat center center/cover; /*This is use to center the image*/
    position: absolute;
    height: 545px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#home h1{
    color: black;
    /* text-align: center; */
    font-family: 'Bree Serif', serif;
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    
}
/* Services Section  */
#services{
    margin: 22px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    padding: 11px;
    margin: 20px 34px;
    border-radius: 28px;
    background-color: #ffe9e9;
}
#services .box img{
    height: 190px;
    display: block;  
    margin: auto;
}

#services .box p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

/* Client Section  */
#client-section{
    position: relative;
     
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/food-bgimage1.jpg')no-repeat center center/cover ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 92px;
}
.client-item{
    padding: 18px 59px;
}

/* Contact Section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px ;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.8rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;

}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}


/* Utility Class */
.h-primary{
    font-size: 2.8rem;
    padding: 20px; 
    /* font-family: 'Bree Serif', serif; */

}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}
.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    margin: 15px;
    font-size: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s all;
    text-decoration: none;
    overflow: hidden;
}
.btn:hover{
    background-color: #2fffc1;
    color: black;

}
.btn:focus{
    outline: none;
}
.center{
    text-align: center;
}
#meal{
    color: rgb(255 0 -2 / 1);
}